table {
  width: 100%;
}

td.mat-cell {
  text-align: left !important;
}

.mat-raised-button {
  float: left;
  margin-right: 15px;
}

.mat-column-checkbox {
  width: 50px;
}

.filter-input {
  float: left;
  margin-top: -10px;
}
